<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="https://jakarta.ee/xml/ns/jakartaee" 
xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee 
https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
<listener>
    <listener-class>blog.AppContextListener</listener-class>
  </listener>
  <display-name>MyBlogProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ArticleServlet</display-name>
    <servlet-name>ArticleServlet</servlet-name>
    <servlet-class>blog.ArticleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArticleServlet</servlet-name>
    <url-pattern>/Article</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddArticleServlet</display-name>
    <servlet-name>AddArticleServlet</servlet-name>
    <servlet-class>blog.AddArticleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddArticleServlet</servlet-name>
    <url-pattern>/AddArticle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchArticlectServlet</display-name>
    <servlet-name>SearchArticleServlet</servlet-name>
    <servlet-class>blog.SearchArticleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchArticleServlet</servlet-name>
    <url-pattern>/SearchArticle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddComentServlet</display-name>
    <servlet-name>AddComentServlet</servlet-name>
    <servlet-class>blog.AddComentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddComentServlet</servlet-name>
    <url-pattern>/AddComent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteArticleServlet</display-name>
    <servlet-name>DeleteArticleServlet</servlet-name>
    <servlet-class>blog.DeleteArticleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteArticleServlet</servlet-name>
    <url-pattern>/DeleteArticleServlet</url-pattern>
  </servlet-mapping>
</web-app>